@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('midwestdevsbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html,
body {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: rgb(3 7 18);
  }
}
